<% const localmeta = {
  title: 'グループ詳細 | ASBM',
  desc: 'desc'
};
%>

<% const status = {
  nav1:'inactive',
  nav2:'inactive',
  nav3:'inactive',
  nav4:'inactive'
};
%>

<!--common-->
<%- include('../partials/header', {meta: localmeta}); %>
<!--/common-->

<!--bottomNav-->
<%- include('../partials/bottomNav', {status: status}); %>
<!--/bottomNav-->

<div class="wrapper">

<section>
  <!--header-->
  <div class="header tc1 shadow">
    <h1>グループ詳細</h1>
  </div>
  <!--/header-->

  <div class="group-top-container flex-container flex-center tc1 bg2">
    <p><i class="fas fa-users"></i></p>
    <div>
      <h2 class="tc5"><%= group.name %></h2>
      <p>メンバー(<%= groupCount %>)</p>
    </div>
  </div>

  <div class="group-main-container">
    <div class="group-main-title">
      <h2 class="bold">概要</h2>
    </div>
    <div class="group-main-owner">
      <p>オーナー: <span class="tc3"><%= group.User.name %></span></p>
    </div>
    <div class="group-main-text">
      <%= group.memo %>
    </div>
    <div class="group-main-btn flex-container flex-center">
      <% if(group.owner === current_user.id) { %>
      <form action="<%= '/group/dismiss/' + group.id %>" method="post">
        <p><input class="tc1 bg2" type="submit" value="グループを解体"></p>
      </form>
      <% } else if(addGroup) { %>
      <form action="<%= '/group/leave/' + group.id %>" method="post">
        <p><input class="tc1 bg2" type="submit" value="グループを脱退"></p>
      </form>
      <% } else { %>
      <form action="<%= '/group/join/' + group.id %>" method="post">
        <p><input class="tc1 bg7" type="submit" value="グループに参加"></p>
      </form>
      <% } %>
    </div>
  </div>
  </section>
  
</div>

<!--common-->
<%- include('../partials/footer'); %>
<!--/common-->
