<nav class="bottom-nav">
  <div class="bottom-nav-wide bg4 shadow">
    <ul class="flex-container">
      <li><a class="<%= status.nav1 %>" href="/"><i class="fas fa-home"></i></a></li>
      <li><a class="<%= status.nav2 %>" href="<%= "/user/" + current_user.id %>"><i class="fas fa-user"></i></a></li>
      <li><a class="<%= status.nav3 %>" href=""><i class="fas fa-search"></i></a></li>
      <li><a class="<%= status.nav4 %>" href="/mybookmark"><i class="fas fa-star"></i></a></li>
    </ul>
  </div>
</nav>
