<nav class="side-nav">
  <div>
    <ul>
      <li><a class="<%= status.nav1 %>" href="/">
          <p>タイムライン</p>
        </a></li>
      <li><a class="<%= status.nav2 %>" href="<%= "/user/" + current_user.id %>">
          <p>マイページ</p>
        </a></li>
      <li><a class="<%= status.nav3 %>" href="">
          <p>検索</p>
        </a></li>
      <li><a class="<%= status.nav4 %>" href="/mybookmark">
          <p>マイブックマーク</p>
        </a></li>
      <li><a class="<%= status.nav5 %>" href="/bookmark/create">
          <p>ブックマーク登録</p>
        </a></li>
    </ul>
  </div>
</nav>
