<div class="wide-left">
  <nav class="side-nav">
    <div>
      <ul>
        <li>
          <p><a class="<%= status.nav1 %>" href="/"><i class="fas fa-home"></i>タイムライン</a></p>
        </li>
        <li>
          <p><a class="<%= status.nav2 %>" href="<%= "/user/" + current_user.id %>"><i class="fas fa-user"></i>マイページ</a></p>
        </li>
        <li>
          <p><a class="<%= status.nav3 %>" href="#"><i class="fas fa-search"></i>検索</a></p>
        </li>
        <li>
          <p><a class="<%= status.nav4 %>" href="/mybookmark"><i class="fas fa-star"></i>マイブックマーク</a></p>
        </li>
        <li>
          <p><a class="<%= status.nav5 %>" href="/bookmark/create"><i class="fas fa-plus"></i>ブックマーク登録</a></p>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="wide-right">
