<% const localmeta = {
  title: 'マイブックマーク | ASBM',
  desc: 'desc'
};
%>

<% const status = {
  nav1:'inactive',
  nav2:'inactive',
  nav3:'inactive',
  nav4:'active'
};
%>

<!--common-->
<%- include('../partials/header', {meta: localmeta}); %>
<!--/common-->

<a href="/bookmark/create">
  <div class="fixed-btn flex-container flex-center bg7 wide-none" id="openModal1">
    <p><i class="fas fa-plus"></i></p>
  </div>
</a>

<div class="bookmark-wrapper bg5">
  <div class="wide">

    <section>
      <!--header-->
      <div class="header tc1 shadow">
        <h1>マイブックマーク</h1>
      </div>
      <!--/header-->
      <% user_bookmarks.forEach((user_bookmark) => { %>

      <section class="bookmark-container shadow bg1">
        <div class="ogp">
          <h2 class="title bold"><%= user_bookmark.title %></h2>
          <p class="url tc3"><a href="<%= user_bookmark.url %>" target="_blank" rel="noopener noreferrer"><%= user_bookmark.url %></a></p>
          <p><%= user_bookmark.site_name %></p>
        </div>
        <p class="memo"><%= user_bookmark.memo %></p>
        <p>
          <% user_bookmark.bookmarkTags.forEach((bookmarkTag) => {%>
          #<a class="tc5" href="<%= '/tag/' + bookmarkTag.id %>"><%= bookmarkTag.name -%></a>
          <% }); %>
        </p>
        <div class="edit flex-container">
          <p><a href="<%='/mybookmark/delete/' + user_bookmark.id %>"><i class="fas fa-trash"></i></a></p>
          <p><a href="<%='/mybookmark/edit/' + user_bookmark.id %>"><i class="fas fa-edit"></i></a></p>
        </div>
      </section>

      <% }); %>
    </section>

  </div>
</div>

<!--common-->
<%- include('../partials/footer', {status: status}); %>
<!--/common-->
