<% const localmeta = {
  title: 'マイページ | ASBM',
  desc: 'desc'
};
%>

<% const status = {
  nav1:'inactive',
  nav2:'active',
  nav3:'inactive',
  nav4:'inactive'
};
%>



<!--common-->
<%- include('../partials/header', {meta: localmeta}); %>
<!--/common-->

<div class="wrapper bg5">
  <div class="wide bg1">

    <section>
      <!--header-->
      <div class="header tc1 shadow">
        <h1>マイページ</h1>
      </div>
      <!--/header-->

      <div id="modalArea1" class="modalArea">
        <div id="modalBg1" class="modalBg"></div>
        <div class="modalWrapper">

          <section class="modal-container bg1">
            <div class="modal-container user-edit-form">
              <form action="/user/<%= current_user.id %>/edit" method="post">
                <p><input type="text" name="name" value="<%= current_user.name %>"></p>
                <p><input class="tc1 bg3" type="submit" value="変更"><input class="tc1 bg2" id="closeModal1" type="button" value="取り消し"></p>
              </form>
            </div>
          </section>
        </div>
      </div>

      <div id="modalArea2" class="modalArea">
        <div id="modalBg2" class="modalBg"></div>
        <div class="modalWrapper">

          <section class="modal-container bg1">
            <div class="modal-container user-list">
              <ul>
                <% followLists.forEach(followList => { %>
                <li class="flex-container flex-between">
                  <p class="tc3 user-list-name bold"><a href="<%= '/user/' + followList.User.id %>"><%= followList.User.name %></a></p>
                  <form action="<%= '/follow/remove/' + followList.User.id %>" method="post">
                    <p>
                      <input type="submit" value="フォロー解除">
                    </p>
                  </form>
                </li>
                <% }); %>
              </ul>
            </div>
          </section>
          <div id="closeModal2" class="closeModal">
            ×
          </div>
        </div>
      </div>

      <div id="modalArea3" class="modalArea">
        <div id="modalBg3" class="modalBg"></div>
        <div class="modalWrapper">

          <section class="modal-container bg1">
            <div class="modal-container user-list">
              <ul>
                <% groupLists.forEach(groupList => { %>
                <li class="flex-container flex-between">
                  <p class="tc3 user-list-name bold"><a href="<%= '/group/' + groupList.id %>"><%= groupList.name %></a></p>
                  <p>オーナー:<a href="<%= '/user/' + groupList.User.id %>" class="tc5"><%= groupList.User.name %></a></p>
                </li>
                <% }); %>
              </ul>
            </div>
          </section>
          <div id="closeModal3" class="closeModal">
            ×
          </div>
        </div>
      </div>

      <section class="user-container flex-container flex-colmn flex-center tc1 bg2">
        <div class="flex-container">
          <p><i class="fas fa-user"></i></p>
          <div class="user-name flex-container flex-colmn flex-center">
            <h2 class="tc5"><%= current_user.name %></h2>
            <p>ブックマーク(<%= bookmarkCount %>)</p>
          </div>
        </div>
        <ul class="flex-container">
          <li>
            <p><a id="openModal2" class="bg3 cursor"><i class="fas fa-user-plus"></i>フォロー(<%= followCount %>)</a></p>
          </li>
          <li>
            <p><a id="openModal3" class="bg3 cursor"><i class="fas fa-users"></i>グループ(<%= groupCount %>)</a></p>
          </li>
        </ul>
      </section>

      <nav class="user-menu">
        <ul>
          <li><a href="/timeline/list">タイムラインの設定</a></li>
          <li><a href="/group/create">グループの作成</a></li>
          <li><a id="openModal1" class="cursor">ユーザー名の変更</a></li>
          <li><a href="/logout">ログアウト</a></li>
        </ul>
      </nav>
    </section>

  </div>
</div>

<script>
  (function() {
    const modalArea1 = document.getElementById('modalArea1');
    const openModal1 = document.getElementById('openModal1');
    const closeModal1 = document.getElementById('closeModal1');
    const modalBg1 = document.getElementById('modalBg1');
    const toggle1 = [openModal1, closeModal1, modalBg1];

    for (let i = 0, len1 = toggle1.length; i < len1; i++) {
      toggle1[i].addEventListener('click', function() {
        modalArea1.classList.toggle('is-show');
      }, false);
    }
  }());

  (function() {
    const modalArea2 = document.getElementById('modalArea2');
    const openModal2 = document.getElementById('openModal2');
    const closeModal2 = document.getElementById('closeModal2');
    const modalBg2 = document.getElementById('modalBg2');
    const toggle2 = [openModal2, closeModal2, modalBg2];

    for (let i = 0, len2 = toggle2.length; i < len2; i++) {
      toggle2[i].addEventListener('click', function() {
        modalArea2.classList.toggle('is-show');
      }, false);
    }
  }());

  (function() {
    const modalArea3 = document.getElementById('modalArea3');
    const openModal3 = document.getElementById('openModal3');
    const closeModal3 = document.getElementById('closeModal3');
    const modalBg3 = document.getElementById('modalBg3');
    const toggle3 = [openModal3, closeModal3, modalBg3];

    for (let i = 0, len3 = toggle3.length; i < len3; i++) {
      toggle3[i].addEventListener('click', function() {
        modalArea3.classList.toggle('is-show');
      }, false);
    }
  }());

</script>

<!--common-->
<%- include('../partials/footer'); %>
<!--/common-->
