<% const localmeta = {
  title: 'タイムライン | ASB',
  desc: 'desc'
};
%>

<% const status = {
  nav1:'active',
  nav2:'inactive',
  nav3:'inactive',
  nav4:'inactive'
};
%>

<!--common-->
<%- include('../partials/header', {meta: localmeta}); %>
<!--/common-->

<!--bottomNav-->
<%- include('../partials/bottomNav', {status: status}); %>
<!--/bottomNav-->

<div class="swiper-container swiper1">
  <div class="swiper-wrapper">

    <!--slide-->
    <div class="swiper-slide">
      <section class="wrapper bg5">
        <!--header-->
        <%- include('../template/header'); %>
        <!--/header-->
        <!--timeline-container-->
        <%- include('../template/timeline'); %>
        <%- include('../template/timeline'); %>
        <%- include('../template/timeline'); %>
        <%- include('../template/timeline'); %>
        <%- include('../template/timeline'); %>
        <!--/timeline-container-->
      </section>
    </div>
    <!--/slide-->

  </div>
  <!-- pagination -->
  <div class="swiper-pagination"></div>
  <!-- /pagination -->
</div>

<!--common-->
<%- include('../partials/footer'); %>
<!--/common-->
